import logging

# smtp smarthost to use for relay; this should not be the same host as the receiving server!
SMTP = {
    'host': 'localhost',
    'port': 25,
    #'user': 'user@example',
    #'password': 'foobar123',
    #'tls': False,
}

IMAP = {
    'host': 'monitored-mailhost.example',
    'user': 'monitoringtest@example.org',
    'password': 'foobar123',
    'mailbox': 'INBOX',
    'tls': True,
}

TEST_MAIL = {
    'sender': 'monitoring-host@monitoring.example.org',
    'recipient': IMAP['user'],
    'subject': 'Test-Email {}',
}

MAX_RETRIES = 30
LOG_LEVEL = logging.INFO
TEXTFILE_PATH = '/var/lib/prometheus/node-exporter/email_delivery.prom'
# Must be a directory on the same filesystem as the textfile and the user running the script must have
# permissions to create temprorary files in that directory.
# This is used to create the textfile and then atomically move it to its desired destination.
TEXTFILE_TMP_PATH = '/var/lib/prometheus/node-exporter/.tmp-email_delivery'
